<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="Browser" value="chrome" />
    <parameter name="URL" value="https://saucedemo.com" />


    <test name="Creation User">
        <classes>
            <class name="TwitterLoginTest">
            </class>
        </classes>
    </test>
</suite>